/* MAIN LIST CONTAINER */
.todo-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* LIST */
ul {
    list-style-type: none;
    padding: 0;
    width: 380px;
    max-width: 90%;
}

/* EACH TASK CARD */
li {
    background: #222;
    margin: 12px 0;
    padding: 14px 18px;
    border-radius: 14px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border: 1px solid #333;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);

    transition: all 0.25s ease;
}

li:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.45);
}

/* TASK TEXT */
li span {
    flex-grow: 1;
    font-size: 1.05rem;
    color: #eee;
    font-weight: 500;
}

/* COMPLETED STYLE */
.completed {
    text-decoration: line-through;
    color: #4ade80;
    /* nice green */
}

/* BUTTON GROUP */
.btn-group {
    display: flex;
    gap: 10px;
}

/* DONE BUTTON */
.done-btn {
    background: #22c55e;
    border: none;
    padding: 10px;
    width: 42px;
    height: 42px;

    border-radius: 10px;
    font-size: 20px;
    color: white;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.25s ease;
}

.done-btn:hover {
    background: #16a34a;
    transform: scale(1.08);
}


.delete-btn {
    background: #ef4444;
    border: none;
    padding: 10px;
    width: 42px;
    height: 42px;

    border-radius: 10px;
    font-size: 20px;
    color: white;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.25s ease;
}

.delete-btn:hover {
    background: #dc2626;
    transform: scale(1.08);
}


.no-tasks {
    color: #888;
    font-style: italic;
    margin-top: 20px;
    font-size: 0.95rem;
}